.left-content__groups{
  height: 85%;
  width: 100%;

    &__group-list{
      height: 100%;

        &__group{
          padding: 20px;
          color: $white ;

            &-name{
              font-size: 15px;
              box-sizing: border-box;
              padding: 20px o 40px;

                &-message{
                  font-size: 11px;
                }
            }
        }
    }
}

.left-content__group-name{
  box-sizing:border-box;
  padding: 20px 0 40px;
  color: $white;
}