.left-content{
  height: 100vh;
  width: 300px;
  float: left;
  background-color: #2f3e51;

  &__user{
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;
    color: $white;

      &-contents{
        height: 50px;
        width: 100%;
        line-height: 50px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom:0;

          &__user-name{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            display: inline-block;
            padding-left: 20px;

              &--new--group{
                color: #fff;
                margin-left: 90px;
                position: relative;
                display: inline-block;
                }
            }
        }
   }
}
