
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


.main-content{
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  background-color: white;
  margin: 0 auto;

  &__header{
    height: 15%;
    border: 1px solid $gray;
    width: 100%;

    &--group{
     margin: 0 40px;
     height: 80%;

       &--name{
         color: #333333;
         font-size: 20px;
         margin: 35px 0 15px;
         float: left;
        }
    }
  }
}


a.chat-main__header--group-edit-btn{
  display: block;
  color: #38AEF0;
  font-size: 15;
  padding: 12.5px 20px;
  margin: 28px 20px 0;
  border: 1px solid $gray;
  float: right;
}

.main-content__header-menmbers{
  float: left;
  color: #999999;
  font-size: 12px;
  margin: 0 40px;
}
.main-content__header{
  height: 100px;
}